* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  margin-bottom: 75px;
}

header h1 {
  color: white;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

header ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: #111111;
}

.user-lib-heading {
  text-align: center;
}
