<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The Ministry of Nothing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}" />
</head>

<body>
  <header>
    <h1>The Ministry of Nothing</h1>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="#about">About</a></li>
      <li>
        <a href="/u/sivert">Library</a>
      </li>
      <li><a href="/u/register">Register</a></li>
    </ul>
  </header>

  <main>
    <div class="hero">
      <h1>the Ministry of <span style="font-size: 100px; font-style: italic; font-weight: 100;">Nothing</span></h1>
      <p>Purchase and virtually <span style="font-weight: bold;">own</span> virtually everything, from books to video
        games.</p>
    </div>

    <div class="store">
      <div class="book-store">
        <h3>Books</h3>
        <div class="item">
          <div class="item-pic-cntr">
            <img src="../static/media/pictures/cover_don_quixote.png" alt="First edition cover of Don Quixote">
          </div>
          <p class="creator-name">Miguel de Ceraventes</p>
          <p class="item-name">Don Quixote</p>
        </div>
      </div>

      <div class="music-store">
        <h3>Music</h3>
      </div>
    </div>
  </main>
</body>
<script src="../static/scripts/main.js"></script>

</html>