<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - The Ministry of Nothing</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>The Ministry of Nothing</h1>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li>
                <a href="/u/sivert">Library</a>
            </li>
            <li><a href="/u/register">Register</a></li>
        </ul>
    </header>

    <main class="register-page">
        <div class="register-form">
            <h3>Register</h3>
            <form action="/u/register" method="POST">
                <input type="text" name="name" placeholder="First Name" />
                <input type="text" name="surname" placeholder="Surname" />
                <input type="text" name="username" placeholder="Username" />
                <input type="text" name="email" placeholder="Email" />
                <input type="text" name="password" placeholder="Password" />
                <input type="submit" value="Register" />
            </form>
        </div>
    </main>
</body>
<script src="../static/scripts/main.js"></script>

</html>