<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Library - The Ministry of Nothing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}" />
</head>

<body>
  <header>
    <h1>The Ministry of Nothing</h1>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="#about">About</a></li>
      <li>
        <a href="/u/sivert">Library</a>
      </li>
      <li><a href="/u/register">Register</a></li>
    </ul>
  </header>

  <main>
    <p class="user-lib-heading">{{ name }}'s library</p>

    {% if items %}
    <ul>
      {% for i in items %}
      <li>{{ i[3] }}</li>
      <div class="item">
        <div class="item-pic-cntr">
          <img src="../static/media/pictures/cover_don_quixote.png" alt="First edition cover of Don Quixote">
        </div>
        <p class="creator-name">Miguel de Ceraventes</p>
        <p class="item-name">Don Quixote</p>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>Your library seems empty . . . you can purchase media on the home page.</p>
    {% endif %}
  </main>
</body>
<script src="../static/scripts/main.js"></script>

</html>